.App {
  display: grid;
  width: 100vw;
  grid-gap: 10px;
}

.cell {
  border-radius: 5px;
  padding: 20px;
  border: dashed 3px lightgray;
}

.addCell {
  border-radius: 5px;
  padding: 20px;
  border: solid 3px blue;
  color: blue;
  font-size: large;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.mceNonEditable {
  outline: none !important;
}
